[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
watchdog = "*"

[packages]
flask = "*"
flask-login = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
cymysql = "*"
wtforms = "*"
flask-cors = "*"
jsonify = "*"
apscheduler = "*"
flask-apscheduler = "*"
pymysql = "*"
flask-cache = "*"
flask-script = "*"
redis = "*"
flask-pymongo = "*"
flask-redis = "*"
numpy = "*"

[requires]
python_version = "3.6"
